@import "../../styles/colors";

.recenzje {
  text-align: center;
  color: $white-smooth;

  h1 {
    background-color: $dark-smooth;
  }

  @media (min-width: 992px) {
    background: linear-gradient(
      95deg,
      $dark-smooth,
      $dark-smooth,
      $white-smooth
    );
  }
}
